<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row">
    <h4 class="p-3">検索</h4>
    <div></div>
  </div>
  <div class="row">
    <div class="col-md-5">
    </div>
  </div>

</div>
